@use '@styles/globals.module.scss' as g;

.dialog {
	position: fixed;
	background-color: g.$black;
	width: 90dvw;
	max-width: 800px;
	padding: 2rem;
	margin: auto;
	overflow: hidden;
	border: none;
	border-radius: g.$rounded;
}

.dialog::backdrop {
	backdrop-filter: brightness(50%) blur(2px);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2svw;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;

	input {
		color: g.$black;
		padding: 0.5em;
	}
}
