@use '@styles/globals.module.scss' as global;

.container {
	@include global.flexCenter;
	flex-direction: column;
	gap: 2svh;
	width: 90%;
	height: 90%;
	max-width: 1000px;
}

.heading {
	text-align: center;
}

.form {
	display: flex;
	gap: 2svh;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	padding: 4svh;
	background-color: #88F;
	border-radius: 20px;
}

.selectLabel {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	width: 100%;
}

.select {
	background-color: transparent;
	color: global.$white;
	padding: 0.5rem;
	transition: color 0.1s;
}

.select:hover,
.select:active,
.select:focus {
	background-color: global.$white;
	color: global.$black;
}

.fieldset {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	background-color: rgba(10,10,10,0.5);
	border-radius: 20px;
}
