@use '@styles/globals.module.scss' as g;

$doneColor: #ff5454;

.button {
	width: 100%;
	gap: 0.5em;
}

.done,
.done:focus,
.done:hover {
	cursor: default;
	background-color: $doneColor;
	color: g.$white;
	border-color: $doneColor
}
