@use './globals.module.scss' as global;

.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
}

.h1 {
	text-align: center;
}

.section {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: underline;
		font-weight: bold;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.5em;
	}

	:not(h2, h3, h4, h5, h6, a) {
		margin-left: 1rem;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	margin-left: 2rem;

	a {
		text-decoration: underline;
	}
}

.smallnav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	a {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		border-bottom: 2px solid global.$white;
	}

	a:hover {
		background-color: global.$white;
		color: global.$black;

		* {
			color: inherit
		}
	}
}
