@use '@styles/globals.module.scss' as g;

.container {
	@include g.flexCenter;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

.heading {
	text-align: center;
}

.innerContainer {
	@include g.flexCenter;
	gap: 2vmin;
}
