@use '@styles/globals.module.scss' as g;

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 10svh;
	color: g.$white;
	padding: 4svh 0 4svh 0;
	gap: 1rem;
	z-index: 1;
	background: linear-gradient(0deg, g.$black, transparent);
}

.spacer {
	display: flex;
	align-items: center;
	justify-content: center;

	* {
		color: inherit;
		padding: 1rem;
	}

	a {
		border-right: 1px solid g.$white;
	}

	a:last-child {
		border-right: none;
	}

	a:hover,
	a:focus,
	a:active {
		text-decoration: underline;
	}
}

@media (min-aspect-ratio: 1) {
	.footer {
		flex-direction: row;
	}

	.spacer a:last-child {
		border-right: 1px solid g.$white;
	}
}
