@use '@styles/globals.module.scss' as g;

.container {
	width: 100%;
	max-width: 800px;
	display: flex;
	align-items: center;
	align-self: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 10px;
	border: 2px solid;
	font-size: 1rem;

	svg {
		flex-shrink: 0;
		display: block;
		font-size: 2em;
		height: auto;
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	p:last-of-type {
		border-top: 1px solid black;
		padding-top: 0.5em;
	}
}


.concern {
	border-color: #F79824;
	background-color: #FFFBDB;

	p,
	strong {
		color: g.$black;
	}

	svg * {
		color: #F79824;
	}
}

.severe {
	border-color: #B20D30;
	background-color: #FAE3E3;

	p,
	strong {
		color: g.$black;
	}

	svg * {
		color: #B20D30;
	}
}

.ok {
	border-color: g.$white;
	background-color: transparent;

	p,
	strong {
		color: g.$white;
	}

	svg * {
		color: g.$white;
	}
}
