@use '@styles/globals.module.scss' as g;

.pending {
	@include g.flexCenter;
	flex-direction: column;
	flex-shrink: 1;
	gap: 2rem;
	width: 100%;
	max-width: 5600px;
	animation-name: fadeIn;
	animation-duration: g.$easeLength;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0%
	}

	100% {
		opacity: 100%
	}
}

.singles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem
}

.status {
	width: 64px;
	height: 64px;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	justify-self: center;
	align-self: center;
	overflow: hidden;
	gap: 2rem;
	font-size: 2rem;

	* {
		color: inherit;
	}
}


.error {
	color: crimson;
}

.partial {
	color: yellowgreen;
}

.total {
	color: limegreen;

}

@media (min-aspect-ratio: 0.75) {
	.singles {
		flex-direction: row;
	}
}
