@use '@styles/globals.module.scss' as g;

.header {
	position: fixed;
	height: 100vh;
	@include g.flexCenter;
	flex-direction: column;
	justify-content: space-between;
	background-color: g.$black;
	translate: -100%;
	transition: all g.$easeLength;
	transition-timing-function: ease;
	z-index: 2;
	gap: 4vh;
	min-width: 8svw;
	font-size: 1rem;
}

.active {
	translate: 0%;
}

.toggler {
	cursor: pointer;
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	border: 2px solid g.$white;
	border-radius: g.$rounded;
	background-color: rgba(10, 10, 10, 0.7);
	padding: 1rem;
	transform: translateX(calc(100% + 2vh)) translateY(2vh);
	color: g.$white;
	z-index: 2;

	* {
		color: g.$white;
	}
}

.toggler:hover,
.toggler:focus {
	background-color: g.$white;

	* {
		color: g.$black;
	}
}

.returner {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	translate: calc(100%);
	height: 100vh;
	width: 100svw;
	background-color: transparent;
	backdrop-filter: brightness(0.5);
	z-index: 1;
}

.active .returner {
	display: block;
	animation-name: returnerfadein;
	animation-duration: g.$easeLength;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

@keyframes returnerfadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.modal {
	margin: auto;
	padding: 4rem;

	* {
		color: g.$black;
	}
}

.hidden {
	@include g.flexCenter;
	height: 100%;
	width: 100%;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
}

.innerContainer {
	@include g.flexCenter;
	width: 100%;
	flex-direction: column;
	margin-bottom: 2vh;
}

.info {
	@include g.flexCenter;
	flex-direction: column;
	gap: 2vh;
	width: 100%;
	min-height: 15vh;
	padding: 2vh 0;
	margin-top: 2vh;
}

.flatButton {
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	border: none;
	padding: 1em;
	border-top: 2px solid #666;
	background-color: inherit;
	color: inherit;
	transition: color 0.25s, background-color 0.25s;
	text-wrap: nowrap;
	white-space: nowrap;


	* {
		color: inherit;
		transition: color 0.25s;
	}

	svg {
		flex-shrink: 1;
	}

	:not(svg) {
		text-wrap: nowrap;
		white-space: nowrap;
	}
}

.flatButton:hover,
.flatButton:focus {
	color: g.$black;
	background-color: g.$white;

	img {
		color: g.$white;
	}
}

.homeLogo {
	max-width: 64px;
	height: auto;
}
