@use './globals.module.scss' as global;

.main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 800px;
	min-height: 90vh;
	margin: auto;
	align-self: center;
	justify-self: center;
	padding: 1rem;

	p {
		text-align: center;

		a {
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

.h1 {
	text-align: center;
}

.smallnav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	margin-top: auto;

	a {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		border-bottom: 2px solid global.$white;
	}

	a:hover {
		background-color: global.$white;
		color: global.$black;

		* {
			color: inherit
		}
	}
}
