@use '@/styles/globals.module.scss' as g;

.item {
	height: fit-content;
	display: grid;
	grid-template-columns: [name thumb] 3fr [info] 6fr;
	grid-template-rows: [name] auto [thumb info] auto;
	align-items: start;
	justify-items: start;
	max-width: 600px;
	row-gap: 1em;
	column-gap: 1em;
	padding: 1rem;
	padding-bottom: 1.5rem;
	background-color: transparent;
	backdrop-filter: blur(3px) brightness(2);
	border-radius: 20px;
	border-top-left-radius: 0;
	animation: 0.25s ease both itemfadein;
}

@keyframes itemfadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.name {
	grid-row: name;
	grid-column: name/span4;
	width: 100%;
	font-weight: bold;
}

.thumb {
	grid-column: thumb;
	grid-row: thumb;
	align-self: start;
	justify-self: start;
	width: 100%;
	display: flex;
	align-items: center;

	img {
		box-shadow: -0.5rem 0.5rem g.$teal;
	}
}

.spotLogo {
	min-width: 70px;
	width: 13ch;
	height: auto;
}

.info {
	grid-column: info / span2;
	grid-row: info;
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 1em;
}

.meta {
	align-self: stretch;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	li {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;

		a {
			border-right: 1px solid g.$white;
			padding: 0.2em 0.5em;
			padding-left: 0;
		}

		a:last-of-type {
			border: none;
		}
	}
}

.link {
	display: flex;
	align-items: center;
	gap: 0.4em;
	width: fit-content;

	svg {
		flex-shrink: 0;
		align-self: center;
		opacity: 0.2;
		transition: opacity calc(g.$easeLength / 2);
	}
}

.link:hover,
.link:focus,
.link:active {
	svg {
		opacity: 1;
	}
}

@media (min-aspect-ratio: 1) {
	.item {
		padding: 2vmin 4vmin;
		grid-template-columns: [name thumb] 2fr [info] 5fr;
		grid-template-rows: [name] auto [thumb info] auto 1fr;
	}
}
