@use '@styles/globals.module.scss' as g;

.form {
	display: grid;
	grid-template-areas:
		'input input input submit';
	width: 100%;
	font-size: inherit;
	gap: 0.5em;
}

.textInput {
	grid-area: input;
	width: 100%;
	color: g.$black;
	font-size: 1rem;
	padding: 0.4em;
	border-radius: g.$rounded;
	border-width: 0;
}

@media (min-aspect-ratio: 1) {
	.textInput {
		font-size: inherit;
	}
}
